APP_NAME = go-elastic-demo
APP_VERSION = v0.0.1
LOG_LEVEL = INFO

REST_LISTEN_ADDR = localhost:8090

BYPASS_AUTH = false

JD_COOKIE = cookie_from_jd
ES_REST_ADDR = http://localhost:9200
ES_INDEX = goods